*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

/* hero-section-start ------ */

.hero{
    width: 100%;
    margin-top: 60px;
}
.hero .meter1{
    width: 40%;
    position: absolute;
   opacity: .1;
   rotate: -20deg;
   left: -80px;
   top: 100px;
}
.hero h1{
    color: rgba(0, 0, 0, 0.805);
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 100px;
}
.hero .spinner{
    width: 500px;
   height: 580px;
   padding: 50px 0;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   position: relative;
}
.hero .circular-progress{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 200deg;
}
.hero .circular-progress::before{
    content: "";
    width: 85%;
    height: 85%;
    position: absolute;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
}
.hero .progress-value{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000000000000000000000000000000 !important;
}
.hero .spinner span{
    position: absolute;
    z-index: 100;
}
.hero .spinner .num1{
    left: 0px;
    bottom: 100px;
    font-size: 30px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num2{
    left: -40px;
    bottom: 200px;
    font-size: 27px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num3{
    left: -19px;
    bottom: 340px;
    font-size: 27px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num4{
    left: 65px;
    top: 88px;
    font-size: 27px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num5{
    left: 230px;
    top: 35px;
    font-size: 24px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num6{
    right: 68px;
    top: 75px;
    font-size: 24px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num7{
    right: -30px;
    top: 200px;
    font-size: 24px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num8{
    right: -48px;
    bottom: 210px;
    font-size: 24px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}
.hero .spinner .num9{
    right: -10px;
    bottom: 100px;
    font-size: 24px;
    color: rgb(125, 121, 121);
    font-weight: 700;
}


.hero .spinner p{
    width: 8px;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.84);
    position: absolute;
    border-radius: 50%;
    z-index: 2000;
}
.hero .spinner .dot1{
    position: absolute;
    left: 90px;
    bottom: 140px;
}
.hero .spinner .dot2{
    position: absolute;
    left: 65px;
    bottom: 200px;
}
.hero .spinner .dot3{
    position: absolute;
    left: 60px;
    bottom: 260px;
}
.hero .spinner .dot4{
    position: absolute;
    left: 75px;
    bottom: 310px;
}
.hero .spinner .dot5{
    position: absolute;
    left: 105px;
    bottom: 360px;
}
.hero .spinner .dot6{
    position: absolute;
    left: 150px;
    bottom: 400px;
}
.hero .spinner .dot7{
    position: absolute;
    left: 210px;
    top: 135px;
}
.hero .spinner .dot8{
    position: absolute;
    left: 270px;
    top: 132px;
}
.hero .spinner .dot9{
    position: absolute;
    left: 330px;
    top: 147px;
}
.hero .spinner .dot10{
    position: absolute;
    right: 110px;
    top: 190px;
}
.hero .spinner .dot11{
    position: absolute;
    right: 75px;
    top: 240px;
}
.hero .spinner .dot12{
    position: absolute;
    right: 60px;
    top: 300px;
}
.hero .spinner .dot13{
    position: absolute;
    right: 65px;
    bottom: 200px;
}
.hero .spinner .dot14{
    position: absolute;
    right: 87px;
    bottom: 144px;
}
@media screen and (max-width: 580px){
    .hero .spinner .num2{
     display: none;
    }
    .hero .spinner .num3{
     display: none;
    }
    .hero .spinner .num4{
     display: none;
    }
    .hero .spinner .num6{
     display: none;
    }
    .hero .spinner .num7{
     display: none;
    }
    .hero .spinner .num8{
     display: none;
    }
}
canvas{
    width: 50vw;
}
.needle{
    width: 300px; /* Length of needle */
    height: 20px; /* Thickness */
    background: linear-gradient(to right, rgb(47, 1, 52), rgba(255, 255, 255, 0) 55%); /* Fading effect */
    transform-origin: center center;
    position: absolute;
    rotate: -30deg;
    transform-origin: bottom center;
}
.num-values{
    position: absolute;
    bottom: 35px;
    text-align: center;
}
.num-values h2{
    font-size: 100px;
}
.num-values h2::before{
    content: "mbps";
    font-size: 50px;
    font-weight: 700;
   position: absolute;
   bottom: -30px;
  left: 15px;
}
/* hero-section-end ------ */